# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
src/catboost_info/
*.egg-info/
.installed.cfg
*.egg
code_descriptors_postural_control/
Writing/
.gitignore
*.json
src/results/
src/data_proc/
src/old_scripts/

# # Input data files
input/Old data/
input/data_v2.xlsx
input/df_merged_v2.xlsx
# *.csv
# *.xlsx
# *.xls

# # Model files and outputs
# models/
# *.joblib
# *.pkl
# *.h5

# # Jupyter Notebook
# .ipynb_checkpoints
# *.ipynb

# VS Code
.vscode/
*.code-workspace

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs and databases
*.log
*.sqlite
*.db

# Visualization outputs
# visualizations/
# *.png
# *.html
# *.svg

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
